@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --azul-marinho: #0A3871;

}

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body {
    box-sizing: border-box;
    background-color: #F3F5FC;
}



/* Logo */

#logo {
    margin: 24px 16px;
}

/* Parte do input de texto */

#texto {
    margin: 72px 16px 16px 16px;
    height: 250px;
}

#texto__input {
    width: 100%;
    height: 250px;
    font-size: 2rem;
    line-height: 48px;
    resize: none;
    border: none;
    color: var(--azul-marinho);
    background-color: transparent;
    scrollbar-width: none;
}

#texto__input:focus {
    outline: none;
}

#texto__input::placeholder {
    font-size: 2rem;
    color: var(--azul-marinho);
}

/* Parte dos botões */

#botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 16px;
    margin-top: 32px;
    box-sizing: border-box;
}

.btn {
    text-decoration: none;
    text-align: center;
    padding: 24px;
    width: 300px;
    border-radius: 24px;
    font-weight: 700;
    
}

#crip {
    background-color: var(--azul-marinho);
    color: white;
    border: 2px solid #FFFFFF;
}

#descrip {
    border: 2px solid var(--azul-marinho);
    color: var(--azul-marinho);
}

#result__btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0 0 0;
}

#copy {
    display: flex;
    border-radius: 24px;
    justify-content: center;
    width: 300px;
    border: 2px solid var(--azul-marinho);
    color: var(--azul-marinho);
}

#copy:hover, #descrip:hover{
    transition: all 0.1s;
    background-color: var(--azul-marinho);
    color: #FFFFFF;
    cursor: pointer;
}
#crip:hover{
    cursor: pointer;
    transition: all 0.1s;
    background-color: transparent;
    color: var(--azul-marinho);
    border: 2px solid var(--azul-marinho);
}

/* result */

#result__container {
    display: flex;
}

#result__encripted {
    color: #495057;
    padding: 32px 0;
    text-align: left;
}

#result {
    margin: 30px auto;
    text-align: center;
    border-radius: 32px;
    background-color: white;
    width: 95%;
    box-shadow: 0px 24px 32px -8px #00000014;

}

#result__text {
    margin: 32px;
}

#result__text img {
    display: none;
}

#result__encripted,  #result__encripted__text {
    margin: 0 10px;
}
#text__e{
    word-wrap:break-word
}

@media screen and (min-width: 768px) {
    #botoes {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 64px;
        margin-top: 300px;
    }

    /* input de texto */
    #texto__input {
        height: 500px;
    }

    #result__container {
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 1440px) {
    body {
        display: flex;
        justify-content: flex-end;
        gap: 40px;
        padding: 40px;
    }

    header {
        position: absolute;
        left: 0;
        display: inline-block;
        margin: 0px 100px;

    }

    #content {
        position: relative;
        top: 80px;
        display: inline-block;
        width: 55%;
        height: 81.5vh;
    }

    #botoes {
        position: absolute;
        margin: 0;
        bottom: 40px;

    }

    #result__container {
        position: relative;
        margin: 0;
        width: 400px;
        height: 90vh;
    }

    #result {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #result__text {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    #result__text img {
        display: block;
    }

    #texto__input {
        height: 600px;
    }

    #texto {
        padding-left: 0;
        margin-left: 0;
    }

    #result__btn {
        margin: 0px 0;
    }

    #result__encripted {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        padding: 32px;
        height: 100%;
        max-width: 300px;
    }

    #result__encripted__text {
        overflow-y: scroll;
        scrollbar-width: none;
        width: 100%;
        margin: 20px 0;
    }

    #copy{
        margin-bottom: 20px;
    }
}

#result .desaparecer-n{
    display: none;
}
#result .desaparecer-e{
    display: none;
}